
.Layout{
    background: linear-gradient(220.9deg, #23C9FF 30.49%, #00487C 96.21%);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.11);
    width: 672px;
    height: 392px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
