
.Layout{
    background: linear-gradient(220.9deg, #23C9FF 30.49%, #00487C 96.21%);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.11);
    width: 672px;
    height: 392px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}


.myImg {
    padding-top: 2%;
    padding-left: 30px;
    width: 170px;
    height: 170px;
}

.hr1 {
    width: 20%;
    border: solid 0.5px;
    color: #D1E8E2;
    margin-top: -15px;
}

.h1 {
    text-align: center;
    font-family: "Lato Thin";
    color: #fff;
}

.h2 {
    padding-left: 45px;

    font-family: "Lato Thin";
    /*color: #D1E8E2;*/
    color: #ffffff;
}

.h3 {
    padding-left: 65px;
    font-family: "Lato Thin";
    /*color: #D1E8E2;*/
    color: #ffffff;
    font-size: small;
    margin-top: -15px;
}

.hr2 {
    width: 35%;
    border: solid 0.5px;
    color: #D1E8E2;
    position: absolute;
    left: 13.5%;
    top: 80%;
    transform: rotate(90deg) translate(-50%, -50%);
}
.aboutME{
    /*text-align: justify;*/
    text-align:left;
    font-family: "Lato Light";
    width: 330px;
    /*color: #D1E8E2;*/
    color: #ffffff;
    letter-spacing: 0.1em;
    position: absolute;
    left: 58%;
    top:47%;
    transform: translate(-50%, -50%);
}
